In [2]:
import pandas as pd
import re
#Loading up scrapped data
Scrapped_data =  pd.read_csv('home.csv')

In [3]:
yelp_restaurant_data = Scrapped_data[6:]

In [4]:
yelp_restaurant_data.index = [0,1,2,3,4]

In [5]:
yelp_restaurant_data.drop(['Restaurant_rating','Restaurant_noreview','Restaurant_address','Restaurant_phone'], axis = 1,inplace=True )

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [6]:
yelp_restaurant_data

         Restaurant_name                                  Restaurant_review
0      6. Bakesale Betty  “With limited opening hours, I have been wanti...
1       7. Banh Mi Ba Le  “Quality: 10\nService: 10\nTaste: 10\nWait tim...
2       8. Champa Garden  “Another hidden treasure by the lake! \nLove t...
3  9. Dimond Slice Pizza  “We dropped by randomly on our drive home from...
4   10. Taqueria Sinaloa  “Sketchy neighbourhood, but a mixed bag of pat...

In [7]:
#QUESTION 1
#Writing regular expressions for the set of all alphabetic strings

In [8]:
alphabetic_strings = re.compile('\w+')
yelp_restaurant_data['Restaurant_review'].apply(lambda x: re.findall(alphabetic_strings,x))

0    [With, limited, opening, hours, I, have, been,...
1    [Quality, 10, Service, 10, Taste, 10, Wait, ti...
2    [Another, hidden, treasure, by, the, lake, Lov...
3    [We, dropped, by, randomly, on, our, drive, ho...
4    [Sketchy, neighbourhood, but, a, mixed, bag, o...
Name: Restaurant_review, dtype: object

In [9]:
#QUESTION 2
#Writing regular expressions for the set of lower case alphabetic strings ending in a b:

In [24]:
lower_case_alphabetic_strings = re.compile(r'b$')
yelp_restaurant_data['Restaurant_review'].apply(lambda x: re.findall(lower_case_alphabetic_strings,x))

0    []
1    []
2    []
3    []
4    []
Name: Restaurant_review, dtype: object

In [14]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

sia = SIA()
results = []

for line in yelp_restaurant_data['Restaurant_review']:
  polarity_score = sia.polarity_scores(line)
  polarity_score['review'] = line
  results.append(polarity_score)

print(results[:3])

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\FESTUS\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

[{'neg': 0.068, 'neu': 0.932, 'pos': 0.0, 'compound': -0.2263, 'review': '“With limited opening hours, I have been wanting to check this place out for a while realizing that this is a classic fried chicken sandwich place in Temescal,…”\xa0read more'}, {'neg': 0.0, 'neu': 0.747, 'pos': 0.253, 'compound': 0.8585, 'review': "“Quality: 10\nService: 10\nTaste: 10\nWait time: 8\nPresentation: 9\n\nBest Bahn mi I've ever had in Oakland!! Hands-down, cheap and delicious, always will be going…”\xa0read more"}, {'neg': 0.061, 'neu': 0.556, 'pos': 0.384, 'compound': 0.915, 'review': '“Another hidden treasure by the lake! \nLove the pineapple rice with lap chong is fire!\nAlso the salmon is delicious neighbored treasure for sure would recommend…”\xa0read more'}]

# PERFORMING SENTIMENTAL ANALYSIS ON THE DATASET

In [15]:
dataframe = pd.DataFrame.from_records(results)
dataframe.head()

,compound,neg,neu,pos,review
0,-0.2263,0.068,0.932,0.000,"“With limited opening hours, I have been wanti..."
1,0.8585,0.000,0.747,0.253,“Quality: 10\nService: 10\nTaste: 10\nWait tim...
2,0.9150,0.061,0.556,0.384,“Another hidden treasure by the lake! \nLove t...
3,0.8553,0.000,0.735,0.265,“We dropped by randomly on our drive home from...
4,0.3291,0.000,0.927,0.073,"“Sketchy neighbourhood, but a mixed bag of pat..."

In [16]:
dataframe['label'] = 0
dataframe.loc[dataframe['compound'] > 0.2, 'label'] = 1
dataframe.loc[dataframe['compound'] < -0.2, 'label'] = -1
dataframe.head()

,compound,neg,neu,pos,review,label
0,-0.2263,0.068,0.932,0.000,"“With limited opening hours, I have been wanti...",-1
1,0.8585,0.000,0.747,0.253,“Quality: 10\nService: 10\nTaste: 10\nWait tim...,1
2,0.9150,0.061,0.556,0.384,“Another hidden treasure by the lake! \nLove t...,1
3,0.8553,0.000,0.735,0.265,“We dropped by randomly on our drive home from...,1
4,0.3291,0.000,0.927,0.073,"“Sketchy neighbourhood, but a mixed bag of pat...",1

In [18]:
new_dataframe = dataframe[['review', 'label']]
new_dataframe.head(5)

                                              review  label
0  “With limited opening hours, I have been wanti...     -1
1  “Quality: 10\nService: 10\nTaste: 10\nWait tim...      1
2  “Another hidden treasure by the lake! \nLove t...      1
3  “We dropped by randomly on our drive home from...      1
4  “Sketchy neighbourhood, but a mixed bag of pat...      1